.header{
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-content{
    flex: 1;
    height: 100%;
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-content p {
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(253, 200, 249);
}